/* General Notes 

Checked for Responsiveness using Google Chrome Toogle Device Toolbar (Ctrl + Shift + M):

Breakpoints: 

1. 320px (Mobile) (Also the default size for anything below 320px and up to 767px)
2. 768px (Tablet)
3. 1280px (Desktop)

All Variables can be found in _variables.scss with their respective info

Most elements styled as follows:

1. % for Margins and Width
2. Rem for Font-sizes and Padding
3. Px for Images and certain elements that are static

*/

/* Partials Load-in */

@use '../../sprint-one/styles/partials/fonts' as *;
@use '../../sprint-one/styles/partials/variables' as *;

/* Media Queries */ 

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

/* Common Elements */ 

ul {
    list-style-type: none;
}

body {
    margin: 0;
}

/* Navigation Bar */

.header {
    width: 100%;
}

.nav-bar {
    background-color: $backgroundColor1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet() {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem 2rem;
    }

    @include desktop() {
        align-items: center;
        padding: $desktopBreakpoint;
    }

    &__logo {
        margin: 5% 0% 2%;
        width: 35%;

        @include tablet() {
            margin: 2% 5% 2% 0%;
            width: 15%;
        }

         @include desktop() {
            width: 11%;
        }
    }

    &__links {
        width: 100%;
        margin: 1% 0% 0%;
        padding: 0rem;
        display: flex;
        text-align: center;
        color: $textColor2;

        @include tablet() {
            width: 35%;
            margin: 2% 0% 0%;
        }

        @include desktop() {
            width: 20%;
            margin: 1% 0% 0%;
        }
    }

    &__link {
        font-family: 'AvenirNextLTPro';
        font-weight: $normal;
        padding: 0.33rem 1rem;
        width: 50%;
        color: $textColor3;

        @include tablet() {
            width: 100%;
            padding: 1.5rem 0rem;
            margin: 0% 10% 0%;
        }

        @include desktop() {
            margin: 0% 15% 0%;
        }
    }   

    &__link--active {
        border-bottom: 5px solid $elementColor1;
        color: $textColor2;
    }
}

/* Hero Section */ 

.hero-section {
    background-image: url('/assets/images/bandHeroImage.jpg'); // Photo by Rocco Dipoppa on Unsplash
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet() {
        height: 450px;
    }

    @include desktop() {
        height: 650px;
        align-items: flex-start;
    }

    &__description {
        padding: $mobileBreakpoint;
        width: 90%;
        color: $textColor2;
        font-family: 'AvenirNextLTPro';
        font-size: 0.75rem;
        font-weight: 300;
        margin: 10% 0% 0%;
    }

    &__title {
        padding: $mobileBreakpoint;
        width: 90%;
        color: $textColor2;
        font-family: 'AvenirNextLTPro';
        font-size: 2.1rem;
        margin: 0%;
        

        @include tablet() {
            font-size: $lgFont2;
        }

        @include desktop() {
            padding: $desktopBreakpoint;
            width: 45%;
            margin: 16% 0% 0%;
            line-height: 5.5rem;
        }
    }

    &__player {
        padding: $mobileBreakpoint;
    }
}

/* Footer Section */

.footer {
    padding: $mobileBreakpoint;
    font-family: 'AvenirNextLTPro';
    background-color: $backgroundColor1;
    color: $textColor2;

    @include tablet() {
        padding: $tabletBreakpoint;
    }

    @include desktop() {
        padding: $desktopBreakpoint;
    }

    &__box {
        @include tablet() {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }

    &__title {
        font-size: $lgFont1;
        @include tablet() {
            margin: 5% 0% 2%;
        }
    }   

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: 3% 0% 15%;

        @include tablet() {
            width: 18%;
            margin: 3% 22% 0% 0%;
        }

        @include desktop() {
            width: 16%;
            margin: 3% 27% 0% 0%;
        }
    }

    &__logo {
        display: none;
        @include tablet() {
            display: inline-block;
            margin: 3% 0% 0%;
        }

        @include desktop() {
            margin: 3% 3% 0%;
        }
    }
}

/* Contact Information Section */ 

.contact-information__section {
    @include tablet() {
        display: flex;
        justify-content: left;
        align-items: flex-start;
    }

    @include desktop() {
        justify-content: flex-start;
    }
}

.contact-information {
    @include tablet() {
        width: 30%;
        margin: 0% 5% 0% 0%;
    }

    @include desktop() {
        margin: 0% 8% 0% 0%;
        width: 25%;
    }


.contact-information:nth-child(3) {
    @include tablet() {
        margin: 0% 0% 0% 2%;
    }
}

.contact-information:nth-child(2) {
    @include tablet() {
        margin: 0%;
    }

    @include desktop() {
        margin: 0% 3% 0% 0%;
    }
}

    &__name {
        height: 0rem;
        font-size: $smallFont3;
        font-weight: $normal;
        @include tablet() {
            font-size: $smallFont4;
            margin-bottom: 8%;
        }
    }

    &__agency {
        height: 0rem;
        font-size: $smallFont3;
        font-weight: $normal;

        @include tablet() {
            font-size: $smallFont4;
            margin: 0% 0% 15%
        }
    }

    &__address {
        margin: 12% 0% 0%;
        font-size: 0.75rem;
        font-weight: $light;
        width: 50%;
        line-height: 1rem;
        color: $textColor3;

        @include tablet {
            width: 80%;
            font-size: $smallFont2;
        }
    }

    &__email {
        font-size: $smallFont1;
        font-weight: $light;
        margin: 7% 0% 0%;
        color: $textColor3;
    }

    &__area {
        margin: 12% 0% 0%;
        font-size: 0.75rem;
        font-weight: $light;
        width: 42%;
        line-height: 1rem;
        color: $textColor3;

        @include tablet() {
            font-size: $smallFont2;
            width: 70%;
        }
    }

    &__area:nth-last-child(2) {
        margin: 0%;
        width: 100%;
    }
}

/* Copyright Section */

.copyright {
    margin: 10% 0% 0%;
    font-size: $smallFont1;
    font-weight: $light;
    line-height: 1rem;
    padding: 0rem 0rem 2rem 0rem;
    color: $textColor3;
    
    @include tablet() {
        display: flex;
        margin: 4% 0% 0%;
    }

    @include desktop() {
        margin: 3% 0% 0%;
    }

    &__text {
        margin: 0% 1% 0% 0%;
    }
}