@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/Linotype - AvenirNextLTPro-Light.otf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/Linotype - AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Linotype - AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Linotype - AvenirNextLTPro-Bold.otf");
}
/* Partials Load-in */
/* Navigation Bar */
ul {
  list-style-type: none;
}

body {
  margin: 0;
}

.header {
  height: 45vh;
  width: 100%;
}

.navBar {
  border: 1px solid black;
  height: 14vh;
  background-color: #323232;
}

.navBar__logo {
  margin: 5% 30% 2%;
}

.navBar__links {
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  text-align: center;
  margin: 0rem;
  color: #FFFFFF;
}

.navBar__link {
  font-family: "AvenirNextLTPro";
  font-weight: 300;
  width: 50%;
  padding: 0.33rem 1rem;
}

.navBar__link--active {
  border-bottom: 5px solid #FFFFFF;
}

.heroSection {
  background-image: url("/assets/images/bandHeroImage.jpg");
  background-position: center;
  background-size: cover;
  height: 30vh;
  padding: 0.1%;
  display: flex;
  align-items: center;
}

.heroSection__title {
  padding: 0.5rem 1rem 0.25rem 1rem;
  width: 65%;
  color: #FFFFFF;
  font-family: "AvenirNextLTPro";
  font-size: 1.5rem;
}

.aboutSection {
  height: 158vh;
  padding: 0.5rem 1rem 0.25rem 1rem;
  background-color: #FFFFFF;
}

.aboutSection__title {
  color: #323232;
  font-family: "AvenirNextLTPro";
  font-size: 1.5rem;
}

.aboutSection__image {
  width: 100%;
}

.aboutSection__quote {
  font-family: "AvenirNextLTPro";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
}

.aboutSection__quote--source {
  font-family: "AvenirNextLTPro";
  font-weight: 500;
  font-size: 0.85rem;
  margin: 8% 0% 12%;
}

.aboutSection__artistNames {
  font-family: "AvenirNextLTPro";
  font-weight: 500;
  font-size: 1rem;
}

.aboutSection__bio {
  font-family: "AvenirNextLTPro";
  font-weight: 100;
  font-size: 0.8rem;
  width: 90.5%;
}

.photoGallery {
  height: 297vh;
  background-color: #f7f7f7;
}

.photoGallery__title {
  padding: 2rem 1rem 0.25rem 1rem;
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  font-size: 1.3rem;
  color: #323232;
  margin: 15% 0% 2%;
}

.photoGallery__grid {
  display: flex;
  flex-wrap: wrap;
}

.photoGallery__image {
  width: 90%;
  padding: 0.5rem 1rem 0.25rem 1rem;
}

.footer {
  padding: 0.5rem 1rem 0.25rem 1rem;
  font-family: "AvenirNextLTPro";
  background-color: #323232;
  color: #FFFFFF;
}

.footer__title {
  font-size: 2rem;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0% 0% 15%;
}

.contactInformation__name {
  height: 0rem;
  font-size: 0.85rem;
  font-weight: 300;
}

.contactInformation__agency {
  height: 0rem;
  font-size: 0.85rem;
  font-weight: 300;
}

.contactInformation__address {
  margin: 12% 0% 0%;
  font-size: 0.7rem;
  font-weight: 100;
  width: 50%;
  line-height: 1rem;
}

.contactInformation__email {
  font-size: 0.7rem;
  font-weight: 100;
  margin: 7% 0% 0%;
}

.contactInformation__area {
  margin: 12% 0% 0%;
  font-size: 0.65rem;
  font-weight: 100;
  width: 42%;
  line-height: 1rem;
}

.copyright {
  margin: 10% 0% 0%;
  font-size: 0.65rem;
  font-weight: 100;
  line-height: 1rem;
}

.copyright__text {
  margin: 0%;
}/*# sourceMappingURL=main.css.map */