@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 100;
    font-style: normal;
    src: url("../../assets/fonts/AvenirNextLTPro-Light.otf");
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 300;
    font-style: normal;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 500;
    font-style: normal;
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: 'AvenirNextLTPro';
    font-weight: 700;
    font-style: normal;
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}